<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-bg">
    <div class="toolbar-content">
      <ion-button fill="clear" slot="start">
        <ion-menu-button color= "light" slot="start"></ion-menu-button>
      </ion-button>


      <img class="center-img" src="assets/imgs/logf.png"> <!--"assets/imgs/LOGO1.png-->
    </div>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  
<!-- List of Text Items -->
<ion-list>
    <ion-item *ngFor = "let chat of chatRooms" (click)="openChat(chat)">
      <ion-avatar slot="start">
        <!-- <ion-img [src]="chat.img"></ion-img> -->
      </ion-avatar>
      <ion-label>
        <h2>{{chat.id}}</h2>
        <h3></h3>
        <p>{{chat.descripcion}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
