<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-bg">
    <h2>Seleccione el dia y la hora</h2>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Selecciones el dia</ion-label>
        <ion-datetime placeholder="Fecha del viaje"
                      display-format="YYYY MM DD"
                      max="2022"
                      [ngModel]="fechaViaje.toISOString()" 
                      (ionChange)="cambioFecha($event)"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Seleccione la hora </ion-label>
        <ion-datetime placeholder="Hora del viaje"
                      display-format="HH mm"
                      [ngModel]="fechaViaje.toISOString()" 
                      (ionChange)="cambioHora($event)"></ion-datetime>
      </ion-item> 
    </ion-row>

    <ion-row>
        <ion-button expand="full" (click)="btnOk()">OK</ion-button>
    </ion-row>
    
  </ion-grid>

</ion-content>