<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-bg">
    <div class="toolbar-content">
      <ion-button fill="clear" slot="start">
        <ion-menu-button color="light" slot="start"></ion-menu-button>
      </ion-button>


      <!--<ion-title class="ion-text-center" text-capitalize>
        Comentarios y sugerencias
      </ion-title>-->


      <ion-avatar>
        <img src="assets/icon/avatar.png">
      </ion-avatar>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-column>
      <ion-row>
        <ion-item class="tipo">
          <ion-label  position="floating">Tipo:</ion-label>
      
          <ion-select [(ngModel)]="categoria">
            <ion-select-option value="com">Comentario</ion-select-option>
            <ion-select-option value="sug">Sugerencia</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-label position="floating"> Titulo</ion-label>
          <ion-input type="text" [(ngModel)]="titulo" name="titulo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Texto:</ion-label>
        <ion-textarea auto-grow="true" placeholder="Ingrese su texto" [(ngModel)]="msg"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-button class="btne">Enviar</ion-button>
        </ion-item>
        
      </ion-row>

    </ion-column>
  </ion-grid>
</ion-content>
