
.tipo {
    width: 70%;
    padding-left: 20%;
}
ion-item{
    --background: white;
    width: 95%;
    --inner-border-width: 0px 0px 0px 0px;
}


.btne{
    width: 98%;
    height: 40px;
}
#texto{
    height: 100px;
}

ion-row{
    margin-left: 10px;
    margin-top: 10%;
}

#btnEnviar{
    width: 98%;;  
}
.textarea-wrapper.sc-ion-textarea-ios {
    min-width: inherit;
    max-width: inherit;
    min-height: inherit;
    max-height: inherit;
    border: 1px black solid;
    border-radius: 12px;
    padding: 5px;
}

ion-textarea{
    min-height: 200px;
    max-height: 200px;
    max-width: 100%;
   
}