<ion-header >
  <ion-toolbar class="toolbar-bg">
    <div class="toolbar-content">
      <ion-title class="ion-text-center" text-capitalize>
        COMENTARIOS Y SUGERENCIAS
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-progress-bar [value]="uploadProgress" color="success" ></ion-progress-bar>-->
  <ion-grid>
    <ion-col>
      <p style="text-align: center;"> Dejanos un comentario sobre la App</p>
      <ion-row>
        <ion-item>
          <ion-textarea auto-grow="true" placeholder="Ingrese su texto" [(ngModel)]="msg"></ion-textarea>
        </ion-item> 
      </ion-row>
      <!--<ion-button (click)="takePicture()" style="width: 98%;">        Agregar una foto      </ion-button>
      <ion-row>        <img [src]="pictureview" alt="">      </ion-row>--> 
      
      <ion-button style="width: 98%; position: fixed;      bottom: 0px;">        Enviar      </ion-button>
    </ion-col>
  </ion-grid>
</ion-content>
