<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-bg">
    <div class="toolbar-content">
      <ion-button fill="clear" slot="start">
        <ion-menu-button color="light" slot="start"></ion-menu-button>
      </ion-button>


      <ion-title class="ion-text-center" text-capitalize>
        Servicio en curso
      </ion-title>


      <ion-avatar>
        <img src="assets/icon/avatar.png">
      </ion-avatar>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapaViaje"></div>
  <div id="header">
    <h5>DETALLE DEL SERVICIO</h5>
  </div>

  <div id="content">
    <ion-row><strong>Nombre: </strong>  {{shareData.detallesDriver.data.nombreConductor}} {{shareData.detallesDriver.data.apellidoConductor}}</ion-row>
    <ion-row><strong>Calificacion: </strong>  {{shareData.detallesDriver.data.calificacionConductor}}</ion-row>
    <ion-row><strong>Celular: </strong>  {{shareData.detallesDriver.data.telefonoConductor}}</ion-row>
    
    <ion-row><strong>Modelo del vehículo: </strong>  {{shareData.detallesDriver.data.modeloVehiculo}}</ion-row>
    <ion-row><strong>Placa del vehículo: </strong>  {{shareData.detallesDriver.data.placaVehiculo}}</ion-row>
    <ion-row><strong>Color del vehículo: </strong>  {{shareData.detallesDriver.data.colorVehiculo}}</ion-row>
  </div>

  <!-- fab que contiene los botones para chat y llamada -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="chatWithClient()">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    
    <ion-fab-list side="start">
      <ion-fab-button color="light" (click)="callByCellphone()">
        <ion-icon name="call-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div class="botones">
    <ion-button expand="full" id="confirmar" (click)="pagar()">REALIZAR PAGO</ion-button>
    <ion-button expand="full" id="finalizar" (click)="cancelar()" disabled>CANCELAR CARRERA</ion-button>
  </div>
</ion-content>
