<ion-header>
  <ion-toolbar class="toolbar-bg">
    <div class="toolbar-content">
      <ion-button fill="clear" slot="start">
        <ion-menu-button color="light" slot="start"></ion-menu-button>
      </ion-button>


      <ion-title class="ion-text-center" text-capitalize>
        SERVICIO EN CURSO
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapaViaje"></div>
  <div id="mid">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row><ion-label class="titulo">Nombre:</ion-label></ion-row>
          <ion-row><ion-label>{{shareData.detallesDriver.data.nombreConductor}}</ion-label></ion-row>
        </ion-col>
  
        <ion-col>
          <ion-row><ion-label class="titulo">Caliificacion:</ion-label></ion-row>
          <ion-row><ion-label>{{shareData.detallesDriver.data.calificacionConductor}}</ion-label></ion-row>
          
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-row><ion-label class="titulo">Modelo:</ion-label></ion-row>
          <ion-row><ion-label>{{shareData.detallesDriver.data.modeloVehiculo}}</ion-label></ion-row>
        </ion-col>
  
        <ion-col>
          <ion-row><ion-label class="titulo">Placa :</ion-label></ion-row>
          <ion-row><ion-label>{{shareData.detallesDriver.data.placaVehiculo}}</ion-label></ion-row>
        </ion-col>
      </ion-row>
  
        <ion-col>
          <ion-row><ion-label  class="titulo">Color:</ion-label></ion-row>
          <ion-row><ion-label>{{shareData.detallesDriver.data.colorVehiculo}}</ion-label></ion-row>
        </ion-col>
      
        <div class="botones">
          <ion-button expand="full" id="confirmar" (click)="pagar()">REALIZAR PAGO</ion-button>
          <ion-button expand="full" id="finalizar" (click)="cancelar()" disabled>CANCELAR CARRERA</ion-button>
        </div>
      
  </ion-grid>
  </div>

  <!-- fab que contiene los botones para chat y llamada -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="openChat()">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    
    <ion-fab-list side="start">
      <ion-fab-button color="light" (click)="callByCellphone()">
        <ion-icon name="call-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>
