ion-content {
    #mapaViaje {
        width: 100%;
        height: 50%;
        opacity: 0;
        transition: opacity 150ms ease-in;
        &.show-map {
            opacity: 1;
        }
    }
}

#header {
    text-align: center;
    background: #282F69;
    color: white;
    font-size: 12px;
    height: 40px;
    padding-top: 3px;
    padding-left: 5px;
   
}

#confirmar {
    --background: #E5242F;
    width: 100%;
}

#finalizar {
    --background: #808289;
    width: 100%;
}

.detalles {
    font-weight: bold;
}   

#botones {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2, 50%);
    justify-content: space-evenly;
    align-content: center;
}


#chatbubble {
    --padding-top: 15px;
}

#chatbubbleF {
    padding-left: 15px;
}

ion-fab-button {
    margin: 5px;
}
.mid {
    //border: black 1px solid;
    width: 97vw;
    //width: 370px;
    text-align: center;
    background-color: white;
}

.cabecera {
    height: 50px;
    background:  #282F69 ;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
}

popover-content sc-ion-popover-md {
    --top: 250px;
    --left: 5px;
    --transform-origin: left top;
}

.titulo {
    color: rgba(5, 5, 5, 0.877);
    text-transform: uppercase;
    font-weight: bold;
}
.titulo2 {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}
.precio{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}
ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    font-size: 18px;
    color: red;
}

.btns {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .mid {
        //border: black 3px solid;
        //border-radius: 12px;
    }
}