<ion-header>
  <div>
    <ion-fab vertical="top" horizontal="start" slot="fixed" menu="main-menu">
      <ion-fab-button  menu="main-menu">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-header>

<ion-content>
  <div class="top">
    <h1>Iniciar Servicio</h1>
  </div>
<div>
    <ion-fab vertical="top" horizontal="start" slot="fixed" menu="main-menu">
      <ion-fab-button menu="main-menu">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-fab-button>
    </ion-fab>
</div>
<div id="center">
  <div id="centerbtn">
    <ion-button id="btnIniciar" (click)="iniciarServicio()">Deseo iniciar un viaje</ion-button>
  </div>
</div>

</ion-content>
