
  
    <ion-toolbar class="toolbar-bg">
        <ion-buttons slot="start">
            <ion-menu-button class="ion-margin" fill="clear" auto-hide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
  
  
  <ion-content>
    
    <!--<div>
    <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]"
    (click)="rate(num)" [ngStyle]="{'color':getColor(num)}">
    </ion-icon>
  </div>-->
    <ion-grid>
        
            <ion-row>
                <ion-avatar> <img src="assets/imgs/user.png"> </ion-avatar>
                <!--  <img style="margin-left: auto;" class="center-img" src="assets/imgs/user.png" alt="">-->
                <!--<img src='{{img}}'>-->
            </ion-row>
            
            <!--<ion-row class="estrellas">
                <ion-label class="calificacion">{{calificacionStr}}</ion-label>
                <img class="estrella" src="assets/imgs/estrella.png">
            </ion-row>
                
                <ion-row>
                <ion-col>
                  <div class="ion-text-center">
                    <ion-button color="danger" class="ion-no-margin ion-margin-bottom" (click)="uploadImg()">Subir una foto</ion-button>
                  </div>
                </ion-col>
            </ion-row>-->
            <ion-row>
                <ion-col class="ion-no-padding">
                    <div class="ion-text-center">
                        <p class="name respuesta ion-no-margin">{{user.first_name}}</p>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-no-padding">
                    <div class="ion-text-center">
                        <p class="respuesta ion-no-margin">{{user.last_name}}</p>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-no-padding">
                    <div class="ion-text-center">
                        <p class="respuesta2 ion-no-margin">Celular:  {{user.celular}}</p>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-no-padding">
                    <div class="ion-text-center">
                        <p class="respuesta2 ion-no-margin">{{user.email}}</p>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-no-padding">
                    <div class="ion-text-center">
                        <p class="respuesta2 ion-no-margin">{{user.cedula}}</p>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-no-padding">
                    <div class="ion-text-center">
                        <p class="respuesta2 ion-no-margin">Registro {{user.registro}}</p>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="ion-text-center">
                        <ion-button color="danger" class="ion-margin" (click)="uploadImg()">Edit</ion-button>
                    </div>
                </ion-col>
            </ion-row>
            
        
    </ion-grid>
  </ion-content>