<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-bg">
    <ion-back-button defaultHref="/home" text="" icon="chevron-back-outline">       </ion-back-button>
    <b>RECUPERAR CONTRASEÑA</b>
  </ion-toolbar>
  
</ion-header>
<ion-content >

  <ion-img class="icon" src="assets/imgs/LOGO2.png">  </ion-img>


    <ion-item>
      <ion-input placeholder="Correo electronico"  type="email" [(ngModel)]="email" name="email" required="true">Ingresa tu email      </ion-input>
    </ion-item>
     
      <ion-button expand="full" class="boton" (click)="send_reset_password()">
        RECUPERAR CONTRASEÑA
      </ion-button>
 
      
  </form>
  
</ion-content>