.mid {
    //border: black 1px solid;
    width: 97vw;
    //width: 370px;
    text-align: center;
    background-color: white;
}

.cabecera {
    height: 50px;
    background:  #282F69 ;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
}

popover-content sc-ion-popover-md {
    --top: 250px;
    --left: 5px;
    --transform-origin: left top;
}

.titulo {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.precio{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}
ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    font-size: 18px;
    color: red;
}

.btns {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .mid {
        //border: black 3px solid;
        //border-radius: 12px;
    }
}