<div>
<ion-header id="header-card">
    <ion-title>FIN DEL SERVICIO</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>  
      <ion-col><img class="center" src="assets/icon/proceso_exitoso.png"></ion-col> 
      <ion-col></ion-col>  
    </ion-row>
  
    <ion-row><strong>Ha llegado al final de la ruta</strong></ion-row>
    <ion-row><strong>Conductor:</strong>{{shareData.detallesDriver.data.nombreConductor}} {{shareData.detallesDriver.data.apellidoConductor}}</ion-row>
    
    <ion-row><strong id="score">Calificación:</strong><ion-icon name="star" *ngFor="let num of [1,2,3,4,5]"(click)="rate(num)" [ngStyle]="{'color':getColor(num)}"></ion-icon></ion-row>
    <ion-row>
      <ion-item>
        <ion-label position="stacked"><strong>Comentario</strong></ion-label>
        <ion-input placeholder="Ingrese un comentario (opcional)"></ion-input>
      </ion-item>
    </ion-row>
    

  <ion-button fill="clear" class="btn" expand="full" (click)="finalizarServicio()">Finalizar Servicio</ion-button>
</ion-grid>
</ion-content>
</div>
