<div>
<ion-header id="header-card">
    <ion-title>FIN DEL SERVICIO</ion-title>
    <img class="center" src="assets/icon/proceso_exitoso.png">
     <p class="name"><strong>Conductor </strong>  {{shareData.detallesDriver.data.nombreConductor}} {{shareData.detallesDriver.data.apellidoConductor}} </p> <!--{{shareData.detallesDriver.data.nombreConductor}} {{shareData.detallesDriver.data.apellidoConductor}}-->
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row class="ion-justify-content-center"><strong id="score"></strong><ion-icon name="star" *ngFor="let num of [1,2,3,4,5]"(click)="rate(num)" [ngStyle]="{'color':getColor(num)}"></ion-icon></ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-item>
          <ion-input placeholder="Ingrese un comentario (opcional)"></ion-input>
        </ion-item>
      </ion-row>
    
      <ion-row class="ion-justify-content-center"><ion-button fill="clear" class="btn" expand="full" (click)="finalizarServicio()">Finalizar Servicio</ion-button></ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
</div>
