.icon{
    height: 50%;;
}
ion-item{
    --background: white;
    width: 80%;
    border: 1px solid black;
    border-radius: 12px;
    margin: 0px auto 0px auto;
}
ion-icon{
    padding-top: 5%;
}
.head{
    height: 20%;
    background-color: #282F69;
    color: white;
    text-align: center;
    padding: 10% 0% 10px 0px;
    p {
        font-size: 18px;
        margin-top:10px ;
        margin-bottom: 0px;
    }
}
ion-row{
    margin: 5px 0px 10px 0px;
}