/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.popOver {
    width: 500px;
    .popover-wrapper {
        .popover-content {
            border-radius: 15px;
            border: black 3px solid;
            width: 500px;
        }
    }
}

.textarea-wrapper.sc-ion-textarea-ios {
    min-width: inherit;
    max-width: inherit;
    min-height: inherit;
    max-height: inherit;
    border: 1px black solid;
    border-radius: 12px;
    padding: 5px;
}

.servicioasignado {
    #header-card {
        text-align: center;
        background: linear-gradient(-90deg, #20478B, #2487C9);
        color: white;
        font-size: 10px;
    }
    #body-content {
        font-size: 20px;
    }
    .btn-si {
        width: 89%;
        height: 40px;
    }
    //.sc-ion-popover-md-h {
    // --width: 90%; //POPOVERCAMBIO 
    //   --min-height:30%;
    ///  --max-height: 30%;
    //  --box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    //  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
    // }
}



.sc-ion-popover-md-h {
    --width: 90%; //POPOVERCAMBIO 
    --max-height: 90%;
    --box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
}

.sc-ion-popover-ios-h {
    --width: auto;
    --max-height: 90%;
    --box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
}

.toolbar-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: full;
    padding-right: 5%;
    align-items: center;
    ion-title {
        font-weight: 100;
        font-size: 14px;
        color: white;
        justify-self: center;
    }
    ion-avatar {
        width: 30px;
        height: 30px;
        justify-self: flex-end;
        align-self: center;
    }
    ion-back-button {
        --color: white;
    }
    ion-content {
        --background: #ffffff;
    }
}

.TermsModal {
    --width: 90%;
    --height: 90%;
    padding: 10px 5px 0px 6px;
}

.toolbar-bg {
   // --background: linear-gradient(#20478c, #2485c9);
    --background: linear-gradient(43deg, #011898, #0da5e5a3);
}

.center-img {
    //display: block;
    margin-left: 5%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    height: 50%;
}

.my-custom-class {
    #header-card {
        text-align: left;
        background: linear-gradient(-90deg, #20478B, #2487C9);
        color: white;
        font-size: 10px;
    }
    #body-content {
        display: grid;
        width: 100%;
        font-size: 10px;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 33.33%);
        justify-content: space-evenly;
        align-content: center;
    }
}

.notification-class {
    --height:65vh;
    --width:75vw;
    #header-card{
      
      //display: flex;
      background: linear-gradient(-90deg,#20478B ,#2487C9);    
      color:white;
      justify-content: center;
      height: 50px;
      ion-title{
        font-size: 13px;
        padding-top: 5%;
      }
      
    }

    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top:30px;
      margin-bottom:10px;
      width: 75px;
      height: 75px;
      
    }

    p{
      text-align: center;
      padding-top: 10px;
      font-size: 12px;
      padding-bottom: 10%;
    }
}

.btn-si {
    background: #E5242F;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.btn-no {
    background: #AEADB3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.btn {
    align-content: center;
    color: #2487C9;
}