#content {
  text-align: center;
  color: black;
  
  background: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
ion-content {
  --ion-background-color:white;
}
ion-toolbar {
  --background: white;
  --ion-color-base: black !important;
  --color: black;
  }