#pago{
  width: auto;
  min-width: 150px;
}
#servicio{
  min-width: 150px;
}

#inicio, #destino, #EUMI, #EUMF{
  display: none;
}

#MOI, #MOF{
  display: none;
}
ion-icon{
  color:black
}
ion-content{
  --color: black;
  height: 870px;
}
.sc-ion-popover-md-h {
  --width: auto;
  --max-height: 90%;
  --box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
}

ion-segment-button{
  color: black;
  --indicator-color: transparent;
}
.segment-button-checked{
  color: #ff0404;
}
.segment-button-checked:after{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  color: rgb(255, 0, 0);
  border-bottom: solid 4px green;
}
.menuop{
  border: solid rgba(44, 44, 44, 0.644) 2px ;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  height:auto;
  background-color: rgba(241, 239, 239, 0.815);
}


#indicators {
  padding: 16px;
  height: 40%;
  width: 100%;
  overflow-y: auto;
  display: block;
}
ion-fab-button{
  --background: red;

  color:black;
}
ion-menu-button{
  color: white;
}
ion-item{
  background-color: rgb(190, 190, 190);
  width: 100%;
  background:transparent;
}
ion-input{
  width: 100%;
  border: solid 1px black;
  border-radius: 10px;
}
#map_canvas {
  width: 90%;
  height: 80%;
  border: 1px solid red;
}
 
 
#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
 
#map {
  width: 100%;
  height: 100px;
}
 
.map-wrapper {
  position: relative;
 
  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
  
  .md ion-searchbar{
    --color: black !important;
    --icon-color: black;

  }
 
}