
<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-bg">
    <div class="toolbar-content">
      <ion-button fill="clear" slot="start">
        <ion-menu-button color= "light" slot="start"></ion-menu-button>
      </ion-button>


        <img class="center-img" src="assets/imgs/LOGO1.png">
     

      <ion-avatar>
        <img src="assets/icon/avatar.png">
      </ion-avatar>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <!--<ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="ShowCords()" ion-fab color="tertiary">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
  <!--<ul>
    <li *ngFor="let item of items2 | async">
      {{ item.name }}
    </li>
  </ul>-->
  <div #map id="map"  style="height: 100%">
  </div>


  <div id="menuOp" class="menuop">
    <ion-grid>
      <ion-row id="vehiculos">
      <ion-label>Seleccione el tipo de vehículo</ion-label>
        <ion-segment scrollable value="1">
          <ion-segment-button (click)="SelectTransport(item)" *ngFor="let item of vehiculos">
            <ion-label> {{item.tipoCarro}}</ion-label>
            <ion-checkbox  class="checkbox-round" mode="ios" [(ngModel)]="item.isChecked"></ion-checkbox>
          </ion-segment-button>
        </ion-segment>
      </ion-row>

      <ion-row id="pagos">
      <ion-label>Seleccione el tipo de pago</ion-label>
        <ion-segment scrollable value="1">
          <ion-segment-button (click)="SelectPayment(item)" *ngFor="let item of tipoPago">
            <ion-label> {{item.tipoPago}}</ion-label>
            <ion-checkbox mode="ios" [(ngModel)]="item.isChecked"></ion-checkbox>
          </ion-segment-button>
        </ion-segment>
      </ion-row>

      <ion-row id="servicios">
      <ion-label>Seleccione el tipo de servicio</ion-label>
        <ion-segment scrollable value="1">
          <ion-segment-button (click)="SelectService(item)" *ngFor="let item of tipoServicio">
            <ion-label> {{item.tipoServicio}}</ion-label>
            <ion-checkbox mode="ios" [(ngModel)]="item.isChecked"></ion-checkbox>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
 
      <div id="opcionesBuscar">
        <ion-label id="UbIn">Ubicación Incial</ion-label>
        <ion-searchbar id="inicio" [(ngModel)]="searchInit" (ionChange)="searchChangedInit()" placeholder="¿Desde dónde quieres ir?"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
        <ion-list id="resultadosInicio">
          <ion-item (click)="SelectSearchResultInit(result)" *ngFor="let result of searchResultsInit">
            {{ result.description }}
          </ion-item>
        </ion-list>
        <ion-button id="EUMI" (click)="seleccionarInicio()">Fijar ubicacion inicial en el mapa</ion-button>

        <ion-label id="UbFin">Ubicación Final</ion-label>
        <ion-searchbar id="destino" [(ngModel)]="searchEnd" (ionChange)="searchChangedEnd()" placeholder="¿A dónde quieres llegar?"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
        <ion-list id="resultadosDestino">
          <ion-item (click)="SelectSearchResultEnd(result)" *ngFor="let result of searchResultsEnd">
            {{ result.description }}
          </ion-item>
        </ion-list>
        <ion-button id="EUMF" (click)="seleccionarFin()">Fijar ubicacion final en el mapa</ion-button>
      </div>
   


      
      <ion-row class="elegirini">
        <ion-button id="OOI" (click)="ocultarOpciones()">Elegir direcciones</ion-button>
        <ion-button id="MOI" (click)="mostrarOpciones()">Volver</ion-button>
        <!--<ion-button id="OPI" (click)="seleccionarFin()">Elegir Fin</ion-button>
        <ion-button id="OPI" (click)="calcularRuta()">Ver ruta</ion-button>-->
      </ion-row>
        
        <!--<ion-row>
          <ion-select (ionChange)="pagoSeleccion($event)" interface="action-sheet">
            <ion-select-option *ngFor="let pago of pagos" [value]="pago.tipoPago">
              {{pago.tipoPago}}
            </ion-select-option>
          </ion-select>
          <ion-select (ionChange)="servicioSeleccion($event)" interface="action-sheet">
            <ion-select-option *ngFor="let servicio of servicios" [value]="servicio.tipoServicio">
              {{servicio.tipoServicio}}
            </ion-select-option>
          </ion-select>
        </ion-row>-->
      <ion-button id="aceptar" class="BuscarRide" (click)="aceptarBoton()" >Aceptar</ion-button>
    </ion-grid>
  </div>
 <ion-button id="aceptarPuntos" (click)="aceptarPuntos()" >Listo</ion-button>
</ion-content>