#pago{
  width: auto;
  min-width: 150px;
}
#servicio{
  min-width: 150px;
}

#opcionesBuscar{
  display: none;
}

#aceptarPuntos{
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.BuscarRide{
  bottom: 10px;
  width: 95%;
  color: white;
  --background: red;
}
.opciones{
  display: flex;
  align-items: center;
  justify-content: center;
}
.elegirini{
  display: flex;
  align-items: center;
  justify-content: center;
}
.opciones div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.opciones ion-label{
 font-size: 14px;
}
.opciones ion-icon{
  height: 80px;
 }
 ion-searchbar{
   border-radius: 12px;
   background-color: rgb(206, 206, 206);
   --icon-color: black;
 }
 
 #UbIn{
  font-size: 16px;
  font-weight: bold;
 }
 #UbFin{
  font-size: 16px;
  font-weight: bold;
 }
 #aceptar{
   width: 99%;
 }
 #OOI{
   width: 99%;
 }
 #MOI{
   width: 98%;
   --background: red !important;
 }
 #EUMI{
   width: 98%;
 }
 #EUMF{
   width: 97%;
 }
#MOI, #MOF{
  display: none;
}
ion-icon{
  color:black
}
ion-content{
  --color: black;
  height: 870px;
}
.sc-ion-popover-md-h {
  --width: auto;
  --max-height: 90%;
  --box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
}

ion-segment-button{
  color: black;
  --indicator-color: transparent;
  height: 35px;
  min-height: 45px;
  --border-radius: 4px;
  ion-label {
    margin: 0;
  }
}
ion-label{
  font-size: 14px;
  margin-top: 2%;
}

ion-item{
  margin-top: 0%;
  font-size: 12px;
}

.list-md{
  padding-top: 0px;
  padding-bottom: 0px;
}
ion-checkbox{
  --border-radius: 50% !important;

}
.segment-button-checked{
  color: #ff0404;
  //border: solid 2px red;

}
.segment-button-checked:after{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  color: white;
  border: solid 4px red;
}
.segment-button-checked:after ion-icon{
  fill: red;
  color: black;
}
ion-checkbox{
  --checkmark-color: white;
  --background-checked: #ff0404;
  --border-color-checked: #ff0404;
  --border-radius: 10%;
  --size: 15px;
}

.menuop{
  border: solid rgba(44, 44, 44, 0.644) 2px ;
  border-radius: 20px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height:45%;
  background-color: rgba(241, 239, 239, 0.815);
}
.iconmenu{
  max-height: 40px;
  max-width: 90px;
}

#indicators {
  padding: 16px;
  height: 40%;
  width: 100%;
  overflow-y: auto;
  display: block;
}
ion-label{
  font-size: 14;
}
ion-menu-button{
  color: white;
}
ion-item{
  background-color: rgb(190, 190, 190);
  width: 100%;
  background:transparent;
}
ion-input{
  width: 100%;
  border: solid 1px black;
  border-radius: 10px;
}
#map_canvas {
  width: 90%;
  height: 80%;
  border: 1px solid red;
}
 
 
#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
 
#map {
  width: 100%;
  height: 100px;
}
 
.map-wrapper {
  position: relative;
 
  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
  
  .md ion-searchbar{
    --color: black !important;
    --icon-color: black;

  }
  ion-grid{
    height: 100%;
  }
}