
<ion-content> 
  <!--<ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="ShowCords()" ion-fab color="tertiary">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
  <div #map id="map"  style="height: 100%">
    <ion-searchbar placeholder="ss"></ion-searchbar>
  </div>


  <div>
    <ion-fab vertical="top" horizontal="start" slot="fixed" menu="main-menu">
      <ion-fab-button  menu="main-menu">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div class="menuop">
    <ion-grid>
      <ion-row id="opcionesVehiculo" class="opciones1">
        <ion-segment class="vehic" scrollable value="1">
          <ion-segment-button class=iconmenu value="1">
            <ion-icon name="car-outline"></ion-icon>
            <ion-label> Carro</ion-label>
          </ion-segment-button>
          <ion-segment-button  class=iconmenu value="2">
            <ion-icon name="bicycle-outline"></ion-icon>
            <ion-label> Tricimoto</ion-label>
          </ion-segment-button>
          <ion-segment-button   class=iconmenu value="3">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label> Carro XL</ion-label>
          </ion-segment-button>
          <ion-segment-button  class=iconmenu value="4">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label> Carro</ion-label>
          </ion-segment-button>
          <ion-segment-button  class=iconmenu value="5">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label> Carro</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>

      <ion-row id="opcionesPago" class="opciones">
        <div>
          <ion-label>Pago</ion-label>
        </div>
        
        <ion-segment scrollable value="1">
          <ion-segment-button  class=iconmenu value="1">
            <ion-icon name="cash-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button  class=iconmenu value="2">
            <ion-icon name="card-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
        <ion-row id="opcionesServicio" class="opciones">        
          <ion-segment scrollable value="1">
            <ion-segment-button value="1">
              <ion-label> Viajar ahora</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label> Reservar</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-row>
      </ion-row>

    
      
        <ion-searchbar id="inicio" [(ngModel)]="searchInit" (ionChange)="searchChangedInit()" placeholder="¿Desde dónde quieres ir?"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
        <ion-list>
          <ion-item (click)="SelectSearchResultInit(result)" *ngFor="let result of searchResultsInit">
            {{ result.description }}
          </ion-item>
        </ion-list>
        
        <ion-searchbar id="destino" [(ngModel)]="searchEnd" (ionChange)="searchChangedEnd()" placeholder="¿A dónde quieres llegar?"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
        <ion-list>
          <ion-item (click)="SelectSearchResultEnd(result)" *ngFor="let result of searchResultsEnd">
            {{ result.description }}
          </ion-item>
        </ion-list>
        
        <ion-row class="elegirini">
          <ion-button id="OOI" (click)="ocultarOpcionesInicio()">Elegir Inicio</ion-button>
          <ion-button id="EUMI" (click)="seleccionarInicio()">Elegir en el mapa</ion-button>
          <ion-button id="MOI" (click)="mostrarOpcionesInicio()">Volver</ion-button>

          <ion-button id="OOF" (click)="ocultarOpcionesFin()">Elegir Destino</ion-button>
          <ion-button id="EUMF" (click)="seleccionarFin()">Elegir en el mapa</ion-button>
          <ion-button id="MOF" (click)="mostrarOpcionesFin()">Volver</ion-button>
          <!--<ion-button id="OPI" (click)="seleccionarFin()">Elegir Fin</ion-button>
          <ion-button id="OPI" (click)="calcularRuta()">Ver ruta</ion-button>-->
        </ion-row>
        
        <!--<ion-row>
          <ion-select (ionChange)="pagoSeleccion($event)" interface="action-sheet">
            <ion-select-option *ngFor="let pago of pagos" [value]="pago.tipoPago">
              {{pago.tipoPago}}
            </ion-select-option>
          </ion-select>
          <ion-select (ionChange)="servicioSeleccion($event)" interface="action-sheet">
            <ion-select-option *ngFor="let servicio of servicios" [value]="servicio.tipoServicio">
              {{servicio.tipoServicio}}
            </ion-select-option>
          </ion-select>
        </ion-row>-->
        
      
        
          <ion-button class="BuscarRide" expand="block" (click)="conductorEncontrado()" >Buscar Carrera</ion-button>
        
      
    </ion-grid>
  </div>
</ion-content>