<!--<ion-header >
    <ion-toolbar class="toolbar-bg">
        <div class="toolbar-content">
            <ion-button fill="clear" slot="start">
                <ion-menu-button color="light" slot="start"></ion-menu-button>
            </ion-button>
            <img class="center-img" src="assets/imgs/logf.png">
            <!--"assets/imgs/LOGO1.png-
        </div>
    </ion-toolbar>
</ion-header>-->
<ion-content>
    
    <h2 style="">AGREGA UNA TARJETA</h2>
    <ion-card class="addcard">
        <ion-card-content>
            <ion-grid>
                <ion-item>
                    
                    <ion-input  placeholder="Numero de la Tarjeta" style="text-transform: uppercase;" [(ngModel)]="cardNumber"></ion-input> <!--type="number" to allow only numbers-->
                </ion-item>
                <ion-item>
                    
                    <ion-input placeholder="Nombre de Titular" [(ngModel)]="holderName"></ion-input>
                </ion-item>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-input  inputmode="numeric" placeholder="Mes" [(ngModel)]="expiryMonth"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-input inputmode="numeric" placeholder="Año" [(ngModel)]="expiryYear"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-input  inputmode="numeric" placeholder="CVC" style="font-size: 12px;" [(ngModel)]="cvc"></ion-input>
                        </ion-item>
                    </ion-col> 
                               
                </ion-row>
                
            </ion-grid>
        </ion-card-content>
        
        
    </ion-card>
    <div style="text-align: center;">
    <ion-button (click)="saveCard()">Guardar</ion-button>
    <ion-button (click)="payCard()">Pagar</ion-button>
    <ion-button expand="full" (click)="back()">Volver a Detalles</ion-button>
    </div>
    <h2>SELECCIONA UNA DE TUS TARJETAS</h2>
    <div id="messages"></div>
        <ion-card class='cardm' *ngFor="let card of cards">
                <ion-card-content>
                    <ion-grid>
                        <ion-row> 
                            <ion-col><ion-icon name="grid-outline" class="icon"></ion-icon>                            </ion-col>
                            <ion-col>                                                           </ion-col> 
                            <ion-col>                            <b>VISA</b>                            </ion-col>                         
                        </ion-row>
                        <ion-row> <b class='numero'>Numero de Tarjeta</b> <p class='numerotext'>xxx xxxx xxxx {{card.bin}} </p> </ion-row>
                        <ion-row> <b class='nombretext'>{{card.holder_name}}  </b></ion-row>
                        <ion-row> <p class='estado' style="color: white;">Estado: </p> <b style="color: white;font-size: 13px;" class='estadotext'>Acitva </b></ion-row>
                        <!--ion-row>
                            <ion-label [ngStyle]="{'color':getColor(card.status)}"> {{card.status === 'valid' ? 'Valida' : 'En revision'}}</ion-label>
                        </ion-row-->
                    </ion-grid>
                    <ion-button fill="outline" slot="end" (click)="pay(card)">Pagar</ion-button>
                <ion-button fill="outline" slot="end" (click)="delete(card)">Eliminar</ion-button>
                </ion-card-content>
                
        </ion-card>
    
</ion-content>